/* Google font styles */

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
     padding: 0px 80px 0px;
  }

  .btn-primary{
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 1;
    border-color: red;
    font-size: 20px;
    padding: 15px 35px 15px;
  }

/* header styles start */

header{
    background: linear-gradient(180deg, #04010b 0%, rgba(7, 2, 17, 0) 100%);
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
  }
.header-content{
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 90px 50px 50px;
}

.header-content h1,h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}
.header-content h1{
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 2px red;
}
.header-content h3{
    font-weight: 400;
}


/* Second Bannner Styles Start */

.second-banner-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.second-banner-title h1{
    color: red;
    font-size: 65px;
    margin-bottom: 25px;
}
.second-banner-description p{
    color: red;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;
}
.second-banner-description h3{
    font-size: 25px;
    margin-bottom: 20px;
}

/* Third Banner Styles Start   */

.third-banner-container{
    margin-top: 50px;
    display: flex;
    padding: 70px 30px 0px 150px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    color: white;
}
.third-banner-description{
    max-width: 500px;
}
.third-banner-description h1{
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* forth-banner-styles start */

.forth-banner-container{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(180deg, #ffdddd 0%, rgba(221, 32, 32, 0) 100%);
    border-radius: 8px;
}
.forth-banner-content{
    padding: 50px 50px 50px 
}
.forth-banner-content p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.forth-banner-content strong{
    color: red;
}
.forth-banner-content button{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* <!-- Fifth Banner Styles Start --> */

.fifth-banner-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.fifth-banner-description {
    max-width: 400px;
}
.fifth-banner-img img{
    max-width: 250px;
    border-radius: 50%;
    padding: 15px;
    border: 10px solid red;
 }
 .fifth-banner-tittle{
    color: red;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 .fifth-banner-description h2{
    font-size: 35px;
    font-weight: 800;
 }
.fifth-banner-last-part h2{
    color: red;
}
.fifth-banner-last-part img{
    width:100px;
}

/* Sixth Banner Styles Start */

/* .sixth-banner-container{
    
} */
/* .sixth-banner-container{
    padding: 15px 35px 15px;
} */

.sixth-banner-container span{
    color: red;
}
.sixth-banner-description {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
.sixth-banner-description h1{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 800;
}
.sixth-banner-description h4{
    margin-top: 5px;
    margin-bottom: 5px;
}
.sixth-banner-description p{
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgba(7, 2, 17, 0.6);
    padding: 10px 180px 10px;
}
.sixth-banner-img{
    display: flex;
    justify-content: space-around;
    background: url(../resources/Rectangle\ 2.png), url(../resources/Rectangle\ 1.png);
    background-position: left bottom, top right;
    background-repeat: no-repeat;
}
.sixth-banner-img1{
    width: 50%;
    padding: 60px 0px 114px;
    margin-right: -471px;
}
.sixth-banner-img2{
    max-width: 250px;
    padding: 25px 126px 294px
}
